.card {
    display: inline-block;
    width: 350px;
    margin: 0 20px 20px 0;
}

.description {
    height: 120px;
    overflow: hidden;
}


@media screen and (max-width: 1024px) {
    .card {
        width: 200px;
    }
}