.card {
    display: flex;
    width: 590px;
    margin: 0 20px 20px 0;
    box-shadow: 0 0 10px 0 lightgray;
    border-radius: 15px;
    overflow: hidden;
}

.image {
    max-width: 100%;
}

.infoContainer {
    margin: 0 10px 0 15px;
    width: 100%;
}

.infoContainer__description {
    height: 80px;
    overflow: hidden;
}

.infoContainer__additionalInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoContainer__button {
    display: block;
    text-align: right;
}


@media screen and (max-width: 1440px) {
    .card {
        width: 70vw;
    }
}

@media screen and (max-width: 900px) {
    .card {
        width: 90vw;
    }
}

@media screen and (max-width: 600px) {
    .card {
        width: 90vw;
    }

    .infoContainer__additionalInfo {
        flex-direction: column;
        align-items: flex-start;
    }

    .infoContainer__additionalAndBtn {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}


@media screen and (max-width: 480px) {
    .card {
        width: 90vw;
        flex-direction: column;
        margin-right: 0;
    }

    .infoContainer {
        margin: 0 10px 0 15px;
        width: auto;
    }

}