.card {
    background-color: white;
    display: flex;
    width: 590px;
    margin: 0 20px 20px 0;
    box-shadow: 0 20px 25px -5px lightgrey, 0 10px 10px -5px lightgray;
    border-radius: 15px;
    overflow: hidden;
}

.image {
    max-width: 100%;
    width: 200px;
}

.infoContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.infoContainer__headerAndDescription {
    padding: 10px 10px 0 15px;
    height: 100%;
}

.infoContainer__additionalAndBtn {
    padding: 0 10px 10px 15px;
    background-color: #f7fafc;
}

.infoContainer__description {
    height: 80px;
    overflow: hidden;
    margin: 5px 0 5px 0;
}

.infoContainer__header {
    margin-top: 0;
    margin-bottom: 5px;
}

.infoContainer__additionalInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 12px;
}

.infoContainer__additionalInfo p {
    margin: 5px 0 5px 0;
}

.infoContainer__button {
    display: block;
    height: auto;
    text-align: right;
}


@media screen and (max-width: 1440px) {
    .card {
        width: 70vw;
    }
}

@media screen and (max-width: 900px) {
    .card {
        width: 90vw;
    }
}

@media screen and (max-width: 600px) {
    .card {
        width: 90vw;
    }

    .infoContainer__additionalInfo {
        flex-direction: column;
        align-items: flex-start;
    }

    .infoContainer__additionalAndBtn {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}


@media screen and (max-width: 480px) {
    .card {
        width: 80vw;
        flex-direction: column;
        margin-right: 0;
    }

    .infoContainer {
        width: auto;
        height: auto;
    }

    .image {
        width: 100%;
        min-height: 400px;
    }
}

@media screen and (max-width: 360px) {
    .card {
        width: 95vw;
        flex-direction: column;
        margin-right: 0;
    }

    .infoContainer {
        width: auto;
        height: auto;
    }

    .image {
        min-height: 320px;
    }
}