.container {
    margin: 0 200px;
}

.header {
    display: inline-block;
    margin-right: 10px;
}

.container__rooms {
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width: 1200px) {
    .container {
        margin: 0 150px;
    }
}

@media screen and (max-width: 900px) {
    .container {
        margin: 0 50px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        margin: 0 10px;
    }

    .container__rooms {
        justify-content: center;
    }
}