.link {
    padding: 10px 24px;
    margin: 0;
    background-color: #045681;
    color: #f7fafc;
    text-decoration: initial;
    font-weight: bold;
    font-size: medium;
    line-height: normal;
    border-radius: 10px;
    display: inline-block;
    border: none;
}

.link:hover {
    background-color: rgba(4, 86, 129, 0.8);
}

.disabled {
    background-color: gray;
    cursor: not-allowed;
}

.disabled:hover {
    background-color: gray;
}